<?xml version="1.0"?>
<model>
  <name>residental_road</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Drone Adventure</name>
    <email>noreply@example.com</email>
  </author>
  <description>Compatibility model name for single-side residential road.</description>
</model>
