<?xml version="1.0"?>
<model>
  <name>big_truck</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Drone Adventure</name>
    <email>noreply@example.com</email>
  </author>
  <description>Lightweight big truck model built from primitive boxes.</description>
</model>
