<?xml version="1.0"?>
<model>
  <name>house_variant</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Drone Adventure</name>
    <email>noreply@example.com</email>
  </author>
  <description>Selector model for house implementation (full or lite).</description>
</model>
